@font-face {
    font-family: AkzidenzGroteskBold;
    src: url(../fonts/AkzidenzGroteskPro-BoldIt.ttf);
}

@font-face {
    font-family: AkzidenzGroteskLight;
    src: url(../fonts/AkzidenzGroteskPro-LightIt.ttf);
}

@font-face {
    font-family: AkzidenzGroteskMd;
    src: url(../fonts/AkzidenzGroteskPro-Md.ttf);
}

@font-face {
    font-family: AkzidenzGroteskRegular;
    src: url(../fonts/AkzidenzGroteskPro-Regular.ttf);
}