.vote-profile-card {

    &-list {
        background-image: url(../img/vote-ratings-list-bg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        min-height: 100vh;
    }

    position: relative;
    padding: 40px 0px 0px 0px;
    
    &__top {
        width: 100%;
        background: #ffffff;
        padding: 20px 50px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    &__name {
        text-transform: uppercase;
        color: #4f8b9e;
        font-size: 24px;
        line-height: 24px;
        font-family: 'AkzidenzGroteskMd';
        word-break: break-word;
    }

    &__image {
        margin-right: 40px;
    }

    &__bottom {
        background: rgba(0,0,0,0.3);
        display: flex;
        padding: 20px 0px 30px;
    }

    &__gifted {
        flex: 1;
        align-items:center;

        &_amount {
            color:#4cbbde;
            text-align: right;
            font-size: 64px;
            line-height: 64px;
            font-family: 'AkzidenzGroteskBold';
        }
        &_text {
            text-align: right;
            color: #4cbbde;
            font-family: 'AkzidenzGroteskMd';
            text-transform: uppercase;
            font-size: 12px;
            line-height: 12px;
            word-break: break-word;
        }
    }

    &__cash {
        width: 40px;
        margin: 55px 15px 0px;

        svg {
            width: 40px;
        }
    }

    &__points {
        flex: 1;
        align-items:center;
        
        &_amount {
            color:#ffffff;
            text-align: left;
            font-size: 64px;
            line-height: 64px;
            font-family: 'AkzidenzGroteskBold';
        }

        &_text {
            text-align: left;
            color:#ffffff;
            font-family: 'AkzidenzGroteskMd';
            text-transform: uppercase;
            font-size: 12px;
            line-height: 12px;
            word-break: break-word;
        }
    }
}