.vote-ratings-item {
    background-color: #fff;
    width: 100%;
    margin-bottom: 2px;
    background: linear-gradient(to bottom, rgba(90,202,255,.05) 0%,rgba(90,202,255,.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    &__wrapper {
        padding: 0px 20px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    &__image {
        flex: 1;
        margin-right:12px;
        display: flex;

        @media screen and (min-width: 1024px) {
            flex: 0;
        }
    }

    &__details {
        flex: 3;
        flex-direction: column;
        align-items:start;
    }

    &__name {
        color:#4f8b9e;
        font-family: 'AkzidenzGroteskRegular';
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 8px;
        word-break: break-word;
    }

    &__company {
        color:#4f8b9e;
        font-family: 'AkzidenzGroteskLight';
        font-size: 13px;
        line-height: 13px;
        margin: 8px 0px 16px;
        word-break: break-word;
    }

    &__comment {
        color:#4f8b9e;
        font-family: 'AkzidenzGroteskLight';
        font-size: 16px;
        line-height: 16px;
        padding: 10px 0px;
        word-break: break-word;
    }

    &__rating {
        flex: 2;
        font-family: 'AkzidenzGroteskBold';
        font-size: 42px;
        color: #ffffff;
        text-align: right;
        line-height: 42px;

        &--centered {
            text-align: center
        }

        &--blue {
            color: #4cbbde;
        }

        @media screen and (min-width: 1024px) {
            flex: 0;
        }
    }

    &__selected {
        background: #ffffff;

        .vote-ratings-item {
            &__rating {
                color: #2d7d96;
            }
        }
    }
}
