.vote-profile-card-info {

    &-list {
        background-image: url(../img/vote-ratings-list-bg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        min-height: 100vh;
    }

    position: relative;
    padding: 40px 0px 0px 0px;

    &__bread {
        width: 100%;
        background: #000000;
        height: 26px;
        position: relative;

        &--text {
            width: 100%;
            height: 24px;
            font-size: 12px;
            line-height: 24px;
            background: #ffffff;
            color: #7e9eb0;
            font-family: 'AkzidenzGroteskMd';
            text-align: center;
            text-transform: uppercase;
            word-break: break-word;
        }

        &--bg-right {
            svg {
                height: 26px;
                position: absolute;
                right: 0;
                top:0;
                z-index: 2;
            }
        }
    }
    
    &__top {
        width: 100%;
        background: #ffffff;
        position: relative;
        padding: 10px;
        display: flex;
        box-sizing: border-box;
    }

    &__rating {
        position: absolute;
        right: 10px;
        top: 4px;

        &--value {
            color: #4f8b9e;
            font-family: 'AkzidenzGroteskBold';
            font-size: 24px;
        }

        &--text {
            color: #4f8b9e;
            font-family: 'AkzidenzGroteskMd';
            font-size: 10px;
            line-height: 5px;
            word-break: break-word;
        }

        &--stars {
            text-align: right;
            svg {
                width: 30px;
                height: 10px;
            }
        }
    }

    &__name {
        text-transform: uppercase;
        color: #4f8b9e;
        font-size: 24px;
        line-height: 24px;
        font-family: 'AkzidenzGroteskMd';
        max-width: 70%;
        word-break: break-word;
    }

    &__company {
        color: #4f8b9e;
        font-size: 18px;
        line-height: 18px;
        font-family: 'AkzidenzGroteskLight';
        margin-top: 12px;
        word-break: break-word;
    }

    &__staff {
        color: #4f8b9e;
        font-size: 13px;
        line-height: 13px;
        font-family: 'AkzidenzGroteskLight';
        margin-top: 8px;
        word-break: break-word;
    }

    &__image {
        margin-right: 10px;
    }

    &__bottom {
        background: rgba(0,0,0,0.3);
        display: flex;
        padding: 20px 20px 30px;
    }

    &__text {
        font-size: 13px;
        color: #bebcba;
        font-family: 'AkzidenzGroteskRegular';
    }

    &__buttons {
        padding: 20px;

        button {
            color: #fff;
            background: rgba(255,255,255,.1);
            border: none;
            font-size: 64px;
            font-family: 'AkzidenzGroteskBold';
            outline:none;
        }

        button.active {
            color: #4f8b9e;
            background: #fff;
        }
    }

    &__smallgift {
        width: 50%;
        margin-right: -25px;
    }

    &__hugegift {
        width: 50%;
        margin-left: -25px;
    }
    &__balance {
        width:50px;
        background: #fff;
        margin:10px 0px;
        padding: 6px 0px;
        border:1px solid #333;
        z-index: 9;
        text-align: center;

        &--value {
            font-family: 'AkzidenzGroteskMd';
            color: #4f8b9e;
            font-size: 18px;
            word-break: break-word;
        }
        &--text {
            font-family: 'AkzidenzGroteskMd';
            color: #4f8b9e;
            font-size: 6px;
            text-transform: uppercase;
        }
        &--icon {
            svg {
                width: 30px;
            }
        }
    }

    &__comment {
        margin-top: 4px;
        width: 100%;
        box-sizing: border-box;
        padding: 8px 12px 8px 12px;
        border: 0px;
        border-bottom: 3px solid #3a9dd7;
        outline: none;
        word-break: break-word;

        &::-webkit-input-placeholder {
            font-size: 16px;
            color: #4f8b9e;
            text-align: center;
            font-family: 'AkzidenzGroteskLight';
        }
    }

    &__sendgift {
        margin-top: 24px;
        padding: 12px 0px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 22px;
        background: #2fc4ff;
        border: none;
        text-transform: uppercase;
        font-family: 'AkzidenzGroteskRegular';
    }
}